.menu-item {
    position: relative;
}

.menu-link {
    background-color: gray;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 100px 20px;
    writing-mode: vertical-lr;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    position: absolute;
    top: 0;
    padding: 20px;
    height: 88;
    transform: translateX(-100%);
    transition: transform 500ms ease;
}

.side-link {
    margin-bottom: 10px;

}

.back-link {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.menu-item:hover .submenu {
    opacity: 1;
    transform: translateX(0);
}